.Page {
  text-align: center;
  background-color: var(--rich-black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  padding: 70px 0;
}

.logo-full{
  width: 40%;
  filter: drop-shadow(0 0 8px rgb(4, 6, 12));
}

.Topic-divisor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  margin: 30px 0;
}

.line {
  flex: 1;
  border: none;
  background-color: var(--linen);
  height: 15px;
  margin: 0 10px;
}

span:not(#image-container span) {
  margin: 0 10px;
  font-size: clamp(1rem, 1rem + 5vw, 3rem);
  font-weight: bold;
  color: var(--linen);
}

.readme-section {
  color: var(--linen);
  text-align: justify;
  box-sizing: border-box;
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  padding: 0 100px;

  code {
    color: var(--rose-taupe)
  }

  a, h3 {
    color: var(--mindaro)
  }

  #pix {
    font-size: 15px;
    color: var(--mindaro)
  }
}


.contact-box {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 20px;
  margin: 0 0 60px;
  border-radius: 10px;
  border: 2px solid var(--linen);

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--linen);
    text-align: center;

    #honeyPot {
      display: none;
    }

    input,
    textarea {
      width: 100%;
      margin: 5px 0;
      padding: 10px;
      border-radius: 10px;
      border: 2px solid var(--linen);
      background: none;
      resize: none;
      color: var(--linen);
    }

    input {
      height: 25px;
    }

    textarea {
      height: 100px;
    }

    label {
      place-self: start;
      transform: translateY(-200%);
      transition: all 0.3s ease-out;
    }

    input:focus,
    textarea:focus {
      outline: none;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
      transform: translateY(-400%);
    }
  }
}

#formSubmit {
  border: none;
  margin: 30px 0 10px;
  padding: 10px 40px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 18px;
  background-color: var(--linen);
  color: var(--rich-black);
  transition: all 0.2s ease-in-out;
}

#formSubmit:hover {
  transform: translateY(-1px);
  background-color: var(--mindaro);
  box-shadow:
    -2px -2px 5px rgba(249, 207, 158, 0.3),
    2px 2px 5px rgba(0, 0, 0, 0.4);
}

#formSubmit:active {
  transform: translateY(1px);
  background-color: var(--linen);
  color: var(--rich-black);
  opacity: 0.8;
}
