#top-bar {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    margin: 1rem;
    gap: 0.6rem;
    z-index: 99;
    line-height: 0;
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.5));
}

#labelMenu {
    color: var(--rich-black);
    height: fit-content;
    width: fit-content;
    transition: 0.5s ease-in;
    rotate: 225deg;
    padding: 1rem;
    border-radius: 25px;
    background-color: var(--linen);
    z-index: 1;
}
#labelMenu:hover {
    cursor: pointer;
}

#menuBtn {
    display: none;
}

input:checked ~ #labelMenu {
    rotate: 0deg;
}

#menuBtn:checked ~ #navBtn {
    transform: translateX(0);
}

#navBtn {
    transform: translateX(300%);
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 25px;
    gap: 1rem;
    transition: 0.5s ease-in-out;
    background-color: var(--linen);
    color: var(--rich-black);

    .btn {
        color: var(--rich-black);
        font-size: 34px;
        transition: 0.2s ease-in;
    }
}

#navBtn .btn:hover {
    scale: 1.2;
    opacity: 0.9;
    cursor: pointer;
}
