body {
  margin: 0;
  font-family: "Pixelify Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --rich-black: #0D1321;
  --linen: #FFEDDF;
  --rose-taupe: #7D6167;
  --mindaro: #C5D86D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--rich-black);
}

::-webkit-scrollbar-thumb {
  background: var(--linen);
  border-radius: 10px 0 0 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e5dec3;
}
